.gradient-custom {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.741), rgb(255, 255, 255))
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}


.no_outline:focus{
    outline:none;
    outline-width: 0;
    user-select: none;
}

.shadow::-webkit-scrollbar{
    display: none;
  }
